<div class="row">
  <div class="col-md-7">
  <h3>Feed from all updates</h3>
    <div id="story_updates">
      <div class="page">
        <%= render @story_updates %>
      </div>
    </div>
    <%= paginate @story_updates %>
  </div>
  <div class="col-md-5">
    <h3>Stories list</h3>
    <ul class="nav">
      <% @stories.each do |story| %>
        <li><%= link_to story.title, story_path(story) %></li>
      <%end%>
    </ul>
  </div>
</div>